input {
    width: 200%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

.autocomplete-dropdown-container {
    position: "absolute";
    width: 200%;
    text-align: left;
}